div {
    position: relative;
    padding-top: 10px;
    width: 100%;
}

.pokedex {
    display: block;
    z-index: -1;
    margin: auto;
}

.pokemon {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 175px;
}

.score {
    position: absolute;
    top: 375px;
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .pokemon {
        left: 365px;
    }

    .score {
        left: 920px;
    }
}

@media (min-width: 1920px) {
    .pokemon {
        left: 605px;
    }

    .score {
        left: 1160px;
    }
}
